body
{
    background-image: url(aaka.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backface-visibility: hidden;
}